<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    
</head>

<body id="index" class="home">
    <%= render 'layouts/header' %>

	<%# <aside id="featured" class="body"> %>
		<%# <article> %>
			<%# <hgroup> %>

			<%# <h1>Featured</h1> %>
			
			<%# </hgroup> %>
		<%# </article> %>
	<%# </aside> <!-- /#featured --> %>
	
	<section id="content" class="body">
	
		<%= yield %>
	
	</section><!-- /#content -->
	
    <%= render 'layouts/footer' %>	


</body>
</html>
